/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .bgRed{
        -fx-background-color: red; 
    }
    .bgGreen{
        -fx-background-color: green;
    }
    .bgBlue{
        -fx-background-color: blue;
    }
    .textRed{
        -fx-text-fill: red;
    }
    .textWhite{
        -fx-text-fill: white;
    }
    .textBlack{
        -fx-text-fill: black;
    }
    .minText{
        -fx-text-tranform: lowercase;
    }
    .majText{
        -fx-text-tranform:uppercase;
    }
    
}
